
@{
    ViewData["Title"] = "Accessories";
}

<h2>Accessories</h2>

<style>
    img {
        width: 95%;
        height: 95%;
    }

    td {
        width: 50%;
    }
    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }
</style>

<div>
    <a asp-area="" asp-controller="Home" asp-action="AccessoriesBag">
        <img src="~/images20191123/Accessories/bag1.jpg" style="width:200px;" 
             onclick="location.href = '@(Url.Action("AccessoriesGeneric", new { folder = "bag" }))'"/>
    </a>
    <a asp-area="" asp-controller="Home" asp-action="AccessoriesDog">
        <img src="~/images20191123/Accessories/dog1.jpg" style="width:200px;" />
    </a>
    <a asp-area="" asp-controller="Home" asp-action="AccessoriesGlove">
        <img src="~/images20191123/Accessories/glove1.PNG" style="width:200px;" />
    </a>
    <a asp-area="" asp-controller="Home" asp-action="AccessoriesSock">
        <img src="~/images20191123/Accessories/sock1.jpg" style="width:200px;" />
    </a>
</div>


@*<div>
    <table>
        <tr>
            <td>
                Descriptive text for turtle 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Accessories/bag1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text for turtle 2
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Accessories/dog1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text for turtle 3
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Accessories/glove1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text for turtle 3
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Accessories/sock1.jpg" />
                </a>
            </td>
        </tr>
    </table>
</div>*@
