
@{
    ViewData["Title"] = "AccessoriesBag";
}

<h2>AccessoriesBag</h2>


<style>
    img {
        width: 95%;
    }

    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }
</style>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/Accessories/bag1.jpg" style="width:33%; padding-top:3px"/>
</a>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/Accessories/bag2.jpg" style="width:33%; padding-top:3px"/>
</a>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/Accessories/bag3.png" style="width:33%; padding-top:3px"/>
</a>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/Accessories/bag4.jpg" style="width:33%; padding-top:3px"/>
</a>
