@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Knitting questions and suggestions:</strong> <a href="mailto:galinafed@hotmail.com">galinafed@hotmail.com</a><br />
    <strong>Knitting discussion:</strong> <a href="mailto:galinafed@hotmail.com">galinafed@hotmail.com</a><br />
    <strong>Technical issues with this site:</strong> <a href="mailto:sergeim@live.com">techsupport@live.com</a><br />
</address>
