@model WebCore.Models.Serialized


@{
    ViewData["Title"] = "Fox";
}

<h2>Fox (title)</h2>

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<div id="testdiv4">Wait ...</div>

<div>
    <img src="~/images20191123/Hats/child1.png" style="width:200px;" />
    <img src="~/images20191123/Hats/lady1.jpg" style="width:200px;" />
    <img src="~/images20191123/Hats/men1.jpg" style="width:200px;" class="rotateimg90"/>
    <img src="~/images20191123/Hats/men1.jpg" style="width:200px;" class="rotateimg90"/>
    <img src='~/images20191123/Hats/men1.jpg' style='width:200px;' class='rotateimg90'/>
</div>


<script>
    window.onload = function() {
        var data = @Html.Raw(Model.Data);
        var div = document.getElementById('testdiv4');
        var len = data.Lines.length;
        var result = "";
        for (var i = 0; i < len; i++)
        {
            var line = data.Lines[i];
            result += "<br>" + line + "</br>";
            result += "<img src='~/images20191123/Hats/child1.png' style='width:200px;' />";
            result += '<img src="~/images20191123/Hats/lady1.jpg" style="width:200px;" />';
            //. current: 1) pass full path; 2) add another page; 3) make script generic; 4) add other pages
            //result += '<img src="/images20191123/Accessories/bag/bag1.JPG" style="width:200px;" />';
            result += '<img src="/images20191123/Accessories/bag/' + 'bag1.JPG' + '" style="width:200px;" />';
            result += '<img src="/images20191123/Hats/' + line + '" style="width:200px;" />';
        }
        div.innerHTML = result;
    } 
</script>
