
@{
    ViewData["Title"] = "HatsLady";
}

<h2>HatsLady</h2>

<style>
    img {
        width: 95%;
    }

    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }
</style>
<div>
    <table>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady2.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady3.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady4.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady5.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady6.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady7.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady8.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady9.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady10.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady11.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady12.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady13.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady14.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady15.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/Hats/Lady16.jpg" />
                </a>
            </td>
        </tr>
    </table>
</div>
