
@{
    ViewData["Title"] = "HomeImagesPillow";
}

<h2>HomeImagesPillow</h2>

<style>
    img {
        width: 95%;
    }

    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }

    .rotateimg90 {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .rotateimg180 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
</style>
<div>
    <table>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/HomeImages/pillow1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/HomeImages/pillow2.jpg" style="padding-top:100px;padding-bottom:100px;height:auto" class="rotateimg90" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/HomeImages/pillow3.jpg" />

                </a>
            </td>
        </tr>
        <tr>
            <td>
            A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/HomeImages/pillow4.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/HomeImages/pillow5.jpg" class="rotateimg180" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/HomeImages/pillow6.jpg" class="rotateimg180" />
                </a>
            </td>
        </tr>
    </table>
</div>
