@{
    ViewData["Title"] = "Home Page";
}
<style>
    img {
        width: 95%;
    }

    td {
        width: 50%;
    }

    .bold {
        font-weight: bold;
    }
</style>

<div id="myCarousel1" class="carousel slide" data-ride="carousel" data-interval="1234">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Roll2/hat.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    It is easy to knit, after you spend 50 years just knitting
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll2/octopus.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll2/IMG_20140510_185456.jpg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll2/IMG_20140511_145948.jpg" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div id="myCarouselRoll3" class="carousel slide" data-ride="carousel" data-interval="1595">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Roll3/DSC07295.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    It is easy to knit, after you spend 50 years just knitting
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll3/DSC07349.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll3/DSC07353.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll3/DSC07359.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll3/DSC07475.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll3/DSC07496.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll3/DSC07505.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div id="myCarouselRoll4" class="carousel slide" data-ride="carousel" data-interval="2743">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/Roll4/DSC06375.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    It is easy to knit, after you spend 50 years just knitting
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525030&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll4/DSC06726.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll4/DSC07014.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/Roll3/DSC07505.JPG" />
            <div class="carousel-caption" role="option">
                <p>
                    LearnAlso it is easy to snowboard
                    <a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="row">
    <div class="col-md-3">
        <h2>How to knit</h2>
        <h3>Knitting sites</h3>
        <ul>
            <li><a href="https://www.ravelry.com"><span class="bold">Ravelry</span></a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Other sites</h2>
        <ul>
            <li><a href="http://www.lionbrand.com/patterns">Lion Brand Yarn</a></li>
            <li><a href="http://www.redheart.com/free-patterns">Read Heart</a></li>
            <li><a href="https://www.craftsy.com/knitting/shop/knitting-patterns?filters=%7B%22selectedFilters%22%3A%5B%22%7B%5C%22filterSetId%5C%22%3A392%2C%5C%22facetName%5C%22%3A%5C%22priceFilter%5C%22%2C%5C%22filterOptionId%5C%22%3A%5C%223004%5C%22%7D%22%5D%2C%22selectedSearchScopes%22%3A%5B%5D%2C%22sortBy%22%3A%22%22%2C%22page%22%3A1%2C%22contentType%22%3A%22filter-gallery%2Fcontent%2Fkeyed%22%7D">CRAFTSY</a></li>
            <li><a href="http://www.allfreeknitting.com/">All Free Knitting</a></li>
            <li><a href="http://www.plymouthyarn.com/patterns/free">Plymouth Yarn</a></li>
        </ul>
    </div>
    <div class="col-md-3">
        <h2>Snoboarding resorts</h2>
        <ul>
            <li><a href="http://www.onthesnow.co.uk/utah/snowbird/ski-resort.html">Snowbird, Utah, USA</a></li>
            <li><a href="http://www.onthesnow.co.uk/aosta-valley/cervinia-breuil/ski-resort.html">Cervinia, Italy</a></li>
            <li><a href="http://www.onthesnow.co.uk/colorado/telluride/ski-resort.html">Telluride, Colorado, USA</a></li>
            <li><a href="http://www.onthesnow.co.uk/valais/verbier/ski-resort.html">Verbier, Switzerland</a></li>
            <li><a href="http://www.onthesnow.co.uk/northern-alps/chamonix-mont-blanc/ski-resort.html">Chamonix, France</a></li>
            <li><a href="http://www.onthesnow.co.uk/california/mammoth-mountain-ski-area/ski-resort.html">Mammoth Mountain, California, USAms</a></li>
            <li><a href="http://www.onthesnow.co.uk/british-columbia/whistler-blackcomb/ski-resort.html">Whistler Blackcomb, Canada</a></li>
        </ul>
    </div>
</div>

