
@{
    ViewData["Title"] = "Knit1";
}

<h2>Knit sample gal</h2>

<style>
    img {
        width: 95%;
    }

    td {
        width: 50%;
    }

    .bold {
        font-weight: bold;
    }
</style>
<div>
    <table>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/1.PNG" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 2
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/15.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/2.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/20090131DSC_3466.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/20090131DSC_3472.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/2011-12-03@16-02-53.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/2011-12-03@16-03-51.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/2011-12-03@16-11-01.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/2011-12-05@09-25-10.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/3.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/5.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/8.jpg" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/coquette1.PN" /> 
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/DSC00721.JPG" /> 
                </a>
            </td>
        </tr>

    </table>
</div>