@model WebCore.Models.Serialized


@{
    ViewData["Title"] = "Fox";
}

<h2>Foxes</h2>

&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<div id="imagediv">Wait ...</div>

<script>
    //. current: 2) add another page; 3) make script generic; 4) add other pages
    window.onload = function() {
        var data = @Html.Raw(Model.Data);
        var div = document.getElementById('imagediv');
        var len = data.Lines.length;
        var result = "";
        for (var i = 0; i < len; i++)
        {
            // /images20210703/Fox/DSC04113.JPG
            var line = data.Lines[i];
            result += '<table style="display:inline-block">';
            result += '<tr><td>';
            result += line;
            result += '</td></tr>';
            result += '<tr><td>';
            result += '<img src="' + line + '" style="width:330px;" />';
            result += '</td></tr>';
            result += '</table>';
            result += '&nbsp;';
        }
        div.innerHTML = result;
    } 
</script>
