
@{
    ViewData["Title"] = "Shawl";
}

<h2>Shawl</h2>

<style>
    img {
        width: 95%;
    }

    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }

    .rotateimg90 {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    .rotateimg180 {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg);
    }
</style>

<div>
    <table>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/ShawlsAndScarves/shawl1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/ShawlsAndScarves/shawl2.jpg"/>
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/ShawlsAndScarves/shawl3.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/ShawlsAndScarves/shawl4.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/ShawlsAndScarves/shawl5.jpg" style="padding-top:100px;padding-bottom:100px;height:auto" class="rotateimg90" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/ShawlsAndScarves/shawl6.jpg" style="padding-top:100px;padding-bottom:100px;height:auto" class="rotateimg90" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/ShawlsAndScarves/shawl7.jpg" />
                </a>
            </td>
        </tr>
    </table>
</div>
