
@{
    ViewData["Title"] = "ShawlsAndScarves";
}

<h2>ShawlsAndScarves</h2>

<style>
    img {
        width: 95%;
        height: 95%;
    }

    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }

    .rotateimg90 {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }
</style>


<div>
    <a asp-area="" asp-controller="Home" asp-action="Scarf">
        <img src="~/images20191123/ShawlsAndScarves/scarf1.jpg" style="width:400px;margin-right:50px;margin-top:150px;margin-bottom:150px" class="rotateimg90" />
    </a>
    <a asp-area="" asp-controller="Home" asp-action="Shawl">
        <img src="~/images20191123/ShawlsAndScarves/shawl1.jpg" style="width:520px;" />
    </a>
</div>