
@{
    ViewData["Title"] = "Top";
}

<h2>Top</h2>

<style>
    img {
        width: 95%;
        height: 95%;
    }

    td {
        width: 50%;
    }

    .bold {
        font-weight: bold;
    }
</style>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<div>
        <img src="~/images20191123/top/top1.jpg" style="width:200px;" 
             onclick="location.href = '@(Url.Action("ShowSubfolder", new { folder = "top", subfolder = "top" }))'"
             />
</div>


@*<div>
    <table>
        <tr>
            <td>
                Descriptive text for turtle 1
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/toys/turtle1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text for turtle 2
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/toys/turtle2.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Descriptive text for turtle 3
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/toys/turtle3.jpg" />
                </a>
            </td>
        </tr>
    </table>
</div>*@
