
@{
    ViewData["Title"] = "Toys";
}

<h2>Toys</h2>

<style>
    img {
        width: 95%;
        height: 95%;
    }

    td {
        width: 50%;
    }

    .bold {
        font-weight: bold;
    }
</style>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<div>
    <a asp-area="" asp-controller="Home" asp-action="ToysOctopuses">
        <img src="~/images20191123/toys/octopus1.jpg" style="width:200px;" />
    </a>
    <a asp-area="" asp-controller="Home" asp-action="ToysOpossums">
        <img src="~/images20191123/toys/opossum1.jpg" style="width:200px;" />
    </a>
    <a asp-area="" asp-controller="Home" asp-action="ToysTurtles">
        <img src="~/images20191123/toys/turtle1.jpg" style="width:200px;" />
    </a>
    <a asp-area="" asp-controller="Home" asp-action="ToysFerret">
        <img src="~/images20191123/toys/ferret1.jpg" style="width:200px;" />
    </a>
</div>
 