
@{
    ViewData["Title"] = "ToysFerret";
}

<h2>ToysFerret</h2>

<style>
    img {
        width: 95%;
    }

    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }
</style>

<div>
    <table>
        <tr>
            <td>
                Ferrets are available in many patterns and sizes!
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/toys/ferret1.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
            </td>
            <td class="tdright">
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images20191123/toys/ferret2.jpg" />
                </a>
            </td>
        </tr>
    </table>
</div>
