
@{
    ViewData["Title"] = "Toys";
}

<h2>Toys</h2>

<style>
    img {
        width: 95%;
        height: 95%;
    }

    td {
        width: 50%;
    }

    .bold {
        font-weight: bold;
    }
</style>
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;

<div>
    <img src="~/images20191123/toys/octopus1.jpg" style="width:200px;" 
            onclick="location.href = '@(Url.Action("ShowSubfolder", new { folder = "Toys", subfolder = "octopus" }))'"
        />
    <img src="~/images20191123/toys/opossum1.jpg" style="width:200px;"
            onclick="location.href = '@(Url.Action("ShowSubfolder", new { folder = "Toys", subfolder = "opossum" }))'"
            />
    <img src="~/images20191123/toys/turtle1.jpg" style="width:200px;"
            onclick="location.href = '@(Url.Action("ShowSubfolder", new { folder = "Toys", subfolder = "turtle" }))'"
            />
    <img src="~/images20191123/toys/ferret1.jpg" style="width:200px;"
            onclick="location.href = '@(Url.Action("ShowSubfolder", new { folder = "Toys", subfolder = "ferret" }))'"
            />
</div>
 