
@{
    ViewData["Title"] = "Toys";
}

<h2>Toys - Octopuses</h2>

<style>
    img {
        width: 95%;
    }

    .tdright {
        width: 80%;
    }

    .bold {
        font-weight: bold;
    }
</style>

<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/toys/octopus1.jpg" style="width:30%;padding-top:3px;" />
</a>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/toys/octopus2.jpg" style="width:30%;padding-top:3px;" />
</a>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/toys/octopus3.jpg" style="width:30%;padding-top:3px;" />
</a>

<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/toys/octopus3.jpg" style="width:30%;padding-top:3px;" />
</a>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/toys/octopus3.jpg" style="width:30%;padding-top:3px;" />
</a>
<a asp-area="" asp-controller="Home" asp-action="Contact">
    <img src="~/images20191123/toys/octopus3.jpg" style="width:30%;padding-top:3px;" />
</a>


@*<div>
        <table>
            <tr>
                <td valign="top" width="50%">
                    <br />
                    A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
                </td>
                <td class="tdright">
                    <br />
                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                        <img src="~/images20191123/toys/octopus1.jpg" />
                    </a>
                </td>
            </tr>
            <tr>
                <td valign="top" width="50%">
                    <br />
                    A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
                </td>
                <td class="tdright">
                    <br />
                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                        <img src="~/images20191123/toys/octopus2.jpg" />
                    </a>
                </td>
            </tr>
            <tr>
                <td valign="top" width="50%">
                    <br />
                    A short description of the element. A reference to the more detailed site goes here.A short description of the element. A reference to the more detailed site goes here.
                </td>
                <td class="tdright">
                    <br />
                    <a asp-area="" asp-controller="Home" asp-action="Contact">
                        <img src="~/images20191123/toys/octopus3.jpg" />
                    </a>
                </td>
            </tr>
        </table>
    </div>*@
