
@{
    ViewData["Title"] = "Yard";
}

<h2>Yard</h2>

<style>
    img {
        width: 95%;
    }

    td {
        width: 50%;
    }

    .bold {
        font-weight: bold;
    }
</style>
<div>
    <table>
        <tr>
            <td>
                Chandeliers add a bold, glamorous look to your entryway, and they come in a variety of styles including elegant crystal chandeliers, colonial candle styles or sleek drums and cage chandeliers. Choose a fixture that’s proportional to the space of the entryway. For example, if your entryway has 75 square feet of space or more, look for a chandelier with a diameter of at least 12" to 18". Smaller entryways look better with smaller chandeliers unless you want the fixture to serve as a focal point
                <br />
                Pendants work equally well in modern and traditional spaces, and they add radiance to your entryway while still drawing the eye upward to create the illusion of a taller space. Styles range from single, chandelier-like pendants to clusters of smaller pendants. Use a series of small pendants to light a long hallway-like entryway, or a single, large pendant for a smaller area.

                To calculate the size you need, try using the formula that many lighting experts use. Add the length and width of the entryway's dimensions and convert it from feet to inches. For example, if your foyer is 15' by 18', you get 33' after adding the two figures. In this case, you need a pendant that’s around 33 inches wide.
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images/Yard/DSC_1693.JPG" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Consider the room in which the TV will sit. As long as the furniture in that room is not permanently attached to the floor — and you're willing to move it — then you have some flexibility in the size of the TV you can get.

                There’s also the question of whether you plan to set up the TV using the included stand or use a wall-mount to hang it. Using the included stand to set the TV on a table or entertainment unit will place the set closer to the viewer, shortening the viewing distance. Be sure to account for both the depth of the TV stand and whatever furniture you plan to set it on. Some sets have relatively narrow stands, but others, like the Sony Bravia OLED XBR-65A1E extend a foot or more behind the display. By contrast, the stand that comes with the Vizio SmartCast E-Series E65-F1 adds only 6 inches of total dept
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images/Yard/DSC_1695.JPG" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                <span class="bold">Consider the room in which the TV will sit. </span>
                As long as the furniture in that room is not permanently attached to the floor — and you're willing to move it — then you have some flexibility in the size of the TV you can get.

                There’s also the question of whether you plan to set up the TV using the included stand or use a wall-mount to hang it. Using the included stand to set the TV on a table or entertainment unit will place the set closer to the viewer, shortening the viewing distance. Be sure to account for both the depth of the TV stand and whatever furniture you plan to set it on. Some sets have relatively narrow stands, but others, like the Sony Bravia OLED XBR-65A1E extend a foot or more behind the display. By contrast, the stand that comes with the Vizio SmartCast E-Series E65-F1 adds only 6 inches of total dept
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images/Yard/IMG_20140511_123711.jpg" />
                </a>
            </td>
        </tr>
        <tr>
            <td>
                Consider the room in which the TV will sit. As long as the furniture in that room is not permanently attached to the floor — and you're willing to move it — then you have some flexibility in the size of the TV you can get.

                There’s also the question of whether you plan to set up the TV using the included stand or use a wall-mount to hang it. Using the included stand to set the TV on a table or entertainment unit will place the set closer to the viewer, shortening the viewing distance. Be sure to account for both the depth of the TV stand and whatever furniture you plan to set it on. Some sets have relatively narrow stands, but others, like the Sony Bravia OLED XBR-65A1E extend a foot or more behind the display. By contrast, the stand that comes with the Vizio SmartCast E-Series E65-F1 adds only 6 inches of total dept
            </td>
            <td>
                <br />
                <a asp-area="" asp-controller="Home" asp-action="Contact">
                    <img src="~/images/Yard/IMG_20140511_123811.jpg" />
                </a>
            </td>
        </tr>
    </table>
</div>