<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="TPS" value="https://skype.pkgs.visualstudio.com/_packaging/tps/nuget/v3/index.json" />
    <add key="Local Custom Packages" value="C:\IC3\_CustomNugets_" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <disabledPackageSources>
  </disabledPackageSources>
</configuration>
